* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
}
#box {
    width: 85%;
    max-width: 2100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    text-align: left;
    margin-left: -120px;
    transition: ease-in-out 0.7s;
}

#logo:hover {
    transform: scale(1.25);
}

nav a {
    padding: 1rem 4%;
    font-size: 24px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
nav a:hover,
nav a#active {
    color: purple;
    border-bottom: 3px solid purple;
}

#main-nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    margin-right: -90px;
}

#dropdown-nav {
    display: none;
    background-color: aqua;
}
#dropdown-nav li {
    margin: 5px;
    padding: 5px;
}
#main-nav li:hover #dropdown-nav {
    display: block;
    position: absolute;
}
#dropdown-color:hover {
    color: purple;
    border-bottom: 3px solid transparent;
}